body {}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/*
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

*/

input:required {
    box-shadow: none;
}

a:visited {
    color: blue;
}

#login-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: orange;
}

.page-header {
    position: absolute;
    top: 20px;
    left: 50%;
    font-weight: 500;
}

#register-page .page-header {
    margin-left: -59.5px;
}

#login-page .page-header {
    margin-left: -37px;
}

#register-confirm-page .page-header {
    margin-left: -99px;
}

#create-event-page .page-header {
    margin-left: -131px;
}

#create-event-page p {
    text-align: center;
    margin-bottom: 5px;
}

::-webkit-input-placeholder {
    color: #DDD;
}

::-moz-placeholder {
    color: #DDD;
}

:-moz-placeholder {
    color: #DDD
}

:-ms-input-placeholder {
    color: #DDD;
}

a {
    text-decoration: none;
}

.navbar-lines {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    padding: 2px 7px 4px;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}

.nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -300px;
    background: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.3s linear;
    padding-top: 60px;
}

.nav a {
    padding: 8px 8px 8px 32px;
    color: white;
    font-size: 1.5em;
    display: block;
    color: #818181;
    transition: 0.3s;
}

.nav a:hover {
    color: #FFF;
}

.nav .closeBtn {
    position: absolute;
    font-size: 50px;
    right: 20px;
    top: 0;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    /*    position: absolute;*/
    /*    margin-top: 10px;*/
    /*    margin-bottom: 10px;*/
}


/*

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
*/


/*

.nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
*/

.show-at-middle {
    height: 163px;
    width: 271px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -135px;
    margin-top: -81px;
}

#register-page .show-at-middle {
    top: 40%;
}

#create-event-page .show-at-middle {
    top: 40%;
}

p#new-user {
    margin-top: 10px;
    position: absolute;
    right: 0;
}

input:focus,
textarea {
    outline: none;
}

.register-style,
.login-style,
.event-style {
    border-radius: 0;
    border: 0;
    width: 271px;
    border-bottom: 1px solid #CCC;
    background: transparent;
    font-size: 1.1em;
    font-weight: 50;
    padding: 15px;
    color: #FFF;
}

.login-style:focus {
    border-bottom: 1px solid #FFF;
}

.register-style,
.event-style {
    color: #888;
}

.register-style:focus,
.event-style:focus {
    border-bottom: 1px solid #888;
}

.btn {
    margin-top: 10px;
    width: 271px;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid white;
    background: transparent;
}

#login-btn:hover {
    transition: .3s linear;
    background: rgba(255, 255, 255, .9);
}

#register-btn,
#confirm-btn,
#create-event-btn {
    border: 1px solid #888;
}

textarea {
    resize: vertical;
}

#register-btn:hover,
#confirm-btn:hover,
#create-event-btn:hover {
    transition: .3s linear;
    background: #DDD;
}

@media (max-height: 350px) {
    #login-page {
        height: 300px;
    }
    #login-page .show-at-middle {
        top: 175px;
    }
}

@media(max-height: 450px) {
    #register-page {
        height: 420px;
    }
    #register-page .show-at-middle {
        top: 175px;
    }
}

@media (max-height: 500px) {
    #create-event-page {
        height: 470px;
    }
    #create-event-page .show-at-middle {
        top: 200px;
    }
}