<div id="event">
    <img class="eventImg" src="{{img}}">
    <div class="eventInfo">
        <p class="eventName">
            <a href="#" class="eventLink">
                <label>{{eventName}}</label>
            </a>
        </p>
        <p class="eventHost">
            <label>Host: </label><span>{{hostName}}</span></p>
        <p class="eventAmount">
            <label>Amount: </label><span>{{amount}}</span></p>
        <p class="eventComission">
            <label>Comission: </label><span>{{comission}}</span></p>
        <button type="button" id="enroll" class="btn enroll">Enroll</button>
        <button type="button" id="sell" class="btn sell">Apply to be a Seller</button>
    </div>
</div>