<div id="login-page">

    <h1 class="page-header">Login</h1>

    <div class="show-at-middle">
        <form class="form">
            <input type="text" id="username" class="username" placeholder="Username" required autofocus>
            <input type="password" id="password" class="password" placeholder="Password" required>
            <input type="submit" id="login-btn" id="login-btn" class="login" value="Login">
        </form>
        <p id="new-user">New user? <a href="#" class="registerLink">Create an account.</a></p>
    </div>
</div>